.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 4px solid green;
    column-gap: 15px;
    font-size: 20px;
}
/* .head-sp {
    background-color: rgb(141, 105, 105);
    color: rgb(21, 21, 22);
    white-space: nowrap;    
} */
.columns :nth-child(2){
    color: rgb(114, 134, 127);
}
.columns :nth-child(4){
    color: rgb(58, 82, 74);
}
.columns :nth-child(1){
    background-color: rgb(200, 224, 216);
    text-indent: 5px;
    padding: 15px;
    border-radius: 15px;
    border-top: 5px solid;

}
.columns p{
    margin-top: 0;
}
.columns h2{
    background-color: rgb(218, 228, 224);
    font-size: 40px;
    padding: 5px;
    border-radius: 10px;
    break-inside: avoid-column;
}

h1{
    font-size: 50px;
    background-color: darkgrey;
    text-align: center;
}

@media ( min-width : 768px ){  
    body {
        background-color: rgb(241, 240, 240);
    }
     .first-heading {
        width: 98%;
        text-align: center;
        margin: 0 auto 5px;
        border-radius: 5px;
        background-color: aliceblue;
        border-top: 5px solid;
    }
}
@media  (max-width: 390px){

    .first-heading {
        background-color: white;
        margin: 0 auto 10px;
        font-size: 2.5em;
        border-radius: 10px;
    }
   .columns h2 {
        color: rgb(13, 14, 13);
        text-indent: 10px;
        font-size: 25px;

    }
    h2::after {
        content: " welcomes you";
        font-size: 16px;
    }
    body {
        background-color: rgb(243, 245, 245);
    }
    .columns {
        font-size: 1.2rem;
    }
    #lastP {
        font-size: 18px;
        background-color: rgb(171, 170, 172);
        padding: 5px;
        margin: 0;
        border-radius: 5px;
    }
    .s {
        width: 60px;
         text-align: center;
    }

}