body {
    margin: 0;
    padding: 0;
}
:root {
    --BGCOLOR: rgb(225, 233, 230)
}

/* Smartphones */

@media only screen and (max-width: 375px) {
    .rules {
    width: 100vw;
    padding-top: 0;
    padding-left: 2px;
    padding-right: 2px;
    background: radial-gradient(blue, green, yellow)
}
.rules .rules-h2 {
    color: rgba(12, 46, 11, 0.911);
    background-color: var(--BGCOLOR);
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid;
}
 .header-rule .header-nav-rule {
    display: flex;
    width: 100vw;
    margin-top: 5px;
    margin-bottom: 0;
    justify-content: center;
    overflow: scroll;

    a {
        color: black;
        text-decoration: none;
        padding-right: 8px;
        font-size: 18px;
       
    }
}
.rules ol {
    margin: 0 ;
    /* background-color: rgb(247, 247, 250); */
    list-style-position: inside;
    padding-left: 0;
    list-style-type: upper-roman;   

    ::marker {
        color: rgb(20, 66, 30);
        font-size: 20px;
        display: inline-block;
        
    }
}

.rules ol li {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2px;
}
.rules ol li:hover {
    border: 1px solid red;
    padding: 15px;
    font-size: 20px;
}
.rules ol li:nth-child(odd){
    background-color: rgb(132, 199, 199);
}
.rules ol li:nth-child(even){
    background-color: rgb(143, 170, 170);
}

}
