/* *{
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    display: flex;
    font-family: sans-serif;
    position: relative;
}
html {
    scroll-behavior: smooth;
}

section {
    position: relative;
    top: 0;
    margin: 0;
    background-color: rgb(150, 190, 177);
    padding: 0;
    width: 100%;
}
section h2 {
    position: sticky;
    background-color: aquamarine;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: 0;

}
main {
    background-color: rgb(120, 125, 129);
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
}

/* Sidebar Navigation Styles */
.sidebar {
    width: 200px;
    background-color: #dddbdb;
    height: 50vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

/* THIS IS THE KEY RULE */
/* The style for the active/highlighted navigation link */
.sidebar li a.active {
    background-color: #04AA6D; /* W3Schools green */
    color: white;
}

.sidebar li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Main Content Styles */
.content {
    flex: 1;
    padding: 20px;
}

section {
    min-height: 100vh; /* Makes each section tall enough to scroll */
    padding: 20px;
    border-bottom: 1px solid #ccc;
}